<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <h1>@Page.Title</h1>
        </header>
        <nav>
            @RenderSection("nav", false)
        </nav>
        <section>
            @RenderBody()
        </section>
        <footer>
        </footer>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery.caret.js"></script>
        <script src="~/Scripts/jquery.form.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>